<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>teamID</key>
	<string>93WM334BFH</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.qianli.margin</key>
		<string>Margin App Store</string>
		<key>com.qianli.margin.MarginWidget</key>
		<string>Margin Widget App Store</string>
	</dict>
	<key>destination</key>
	<string>upload</string>
</dict>
</plist>
